<div class="detail">
    <h2>{{ techItem.title }}</h2>
    <p>{{ techItem.consumption }}</p>
    <p>{{ techItem.limit }}</p>

    <div *ngIf="updateView == false">
        <button (click)="editItem()" mat-raised-button color="primary">Update</button>
        <button (click)="delete(techItem.id)" mat-raised-button color="primary">Delete</button>
    </div>
</div>

<div class="solar-form-container" *ngIf="updateView == true">
    <form #solarForm="ngForm">
        <!-- set addSolarPanel on form level- (ngSubmit)="addSolarPanel()" -->
        <label for="title">Applience</label>
        <input required type="text" name="title" [(ngModel)]="title">

        <label for="consumption">Consumption</label>
        <input type="text" name="consumption" [(ngModel)]="consumption">

        <label for="description">Set limit</label>
        <input type="text" name="description" rows="2" [(ngModel)]="limit" >

        <label for="connect-battery">Connect a battery</label>
        <select id="battery" name="battery">
            <!-- Add dynamic data from batteries -->
            <option value=""></option>
        </select>

        <button mat-raised-button color="primary" class="solar-btn" type="submit" (click)="update()">Update Item</button>
    </form>
</div>