<div class="solar-form-container">
    <form #solarForm="ngForm">
        <label for="title">Battery</label>
        <input required type="text" name="title" [(ngModel)]="title">

        <label for="description">Energy - capacity</label>
        <input type="text" name="description" rows="2" [(ngModel)]="energy" >

        <label for="connect-battery">Connect</label>
        <select id="battery" name="battery">
            <!-- Add dynamic -->
            <option value=""></option>
        </select>

        <label>Add data for device</label>
        <input type="file">

        <button mat-raised-button color="primary" class="battery-btn" type="submit" (click)="submit()">Add to Dashboard</button>
    </form>
</div>