<section>
    <div class="battery-title-container">
        <h2>Add a battery</h2>
        <p>Add batteries to store solar energy and be used with inverters.</p>
    </div>

    <div class="battery-form-container">
        <form #batteryForm="ngForm">
            <label for="title">Battery type</label>
            <input required type="text" name="title" [(ngModel)]="title">

            <label for="energy">Energy</label>
            <input type="text" name="energy" [(ngModel)]="energy">

            <button class="battery-btn" (click)="addBattery()">Add Battery to System</button>
        </form>
    </div>
    
    <div>
        <p>An energy-storage system, also called a home or solar battery, lets you capture electricity so you can use it at another time. For example, you can store the electricity your solar panels generate during the day and use it at night.</p>
        <p>Home-energy storage will also reduce the electricity you use from the grid, and cut your energy bills. If your home is off-grid, it can help to reduce your use of fossil fuel back-up generators.</p>
    </div>
</section>