<div class="form-container">
    <form>  
        <label for="email">Email: </label>  
        <input type="email" id="email" name="email"/> <br/>  

        <label for="password">Password: </label>  
        <input type="password" id="password" name="password-repeat"/> <br/>

        <label for="password-repeat">Repeat Password: </label>  
        <input type="password" id="password" name="password"/> <br/>  

        <input type="submit" value="Sign up">  
    </form>

    <span>Already have an account?</span><a routerLink="/login">Log in</a>
</div>