<div class="solar-form-container">
    <form #solarForm="ngForm">
        <!-- set addSolarPanel on form level- (ngSubmit)="addSolarPanel()" -->
        <label for="title">Solar Panel</label>
        <input required type="text" name="title" [(ngModel)]="title">

        <label for="description">Short description</label>
        <textarea type="text" name="description" rows="2" [(ngModel)]="description" ></textarea>

        <label for="consumption">Consumption capacity</label>
        <input type="text" name="consumption" [(ngModel)]="consumption">

        <label for="connect-battery">Connect a battery</label>
        <select id="battery" name="battery">
            <!-- Add dynamic data from batteries -->
            <option value=""></option>
        </select>

        <label>Add data for device</label>
        <input type="file">

        <button mat-raised-button color="primary" class="solar-btn" type="submit" (click)="submit()">Add to Dashboard</button>
    </form>
</div>