<div class="about">
    <div class="about_main">
        <h1 class="about__title">Solartis</h1>

        <h2>Convert Sunlight to <span>Energy</span></h2>
        <p>Sunlight is by far the largest source of energy received by Earth.</p>
        <img src="" alt="img">
    </div>

    <div class="about_more">
        <h1 class="about__title">Solartis</h1>

        <h2>Energy Monitoring<span>24/7</span></h2>
        <p>This highly diffused source has the potential to satisfy all future energy needs if collected correctly.</p>
        <img src="" alt="img">
    </div>
</div>