<div class="detail">
    <h2>{{ solarItem.title }}</h2>
    <p>{{ solarItem.description }}</p>
    <p>{{ solarItem.consumption }}</p>

    <div *ngIf="updateView == false">
        <button (click)="editItem()" mat-raised-button color="primary">Update</button>
        <button (click)="delete(solarItem.id)" mat-raised-button color="primary">Delete</button>
    </div>
</div>

<div class="solar-form-container" *ngIf="updateView == true">
    <form #solarForm="ngForm">
        <!-- set addSolarPanel on form level- (ngSubmit)="addSolarPanel()" -->
        <label for="title">Solar Panel</label>
        <input required type="text" name="title" [(ngModel)]="title">

        <label for="description">Short description</label>
        <textarea type="text" name="description" rows="2" [(ngModel)]="description" ></textarea>

        <label for="consumption">Consumption capacity</label>
        <input type="text" name="consumption" [(ngModel)]="consumption">

        <label for="connect-battery">Connect a battery</label>
        <select id="battery" name="battery">
            <!-- Add dynamic data from batteries -->
            <option value=""></option>
        </select>

        <label>Add data for device</label>
        <input type="file">

        <button mat-raised-button color="primary" class="solar-btn" type="submit" (click)="update()">Update Item</button>
    </form>
</div>