.shop__contents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    max-width: 250px;
}

.shop__contents > :hover {
    box-shadow: 0 0 11px #cccccc;
    cursor: pointer; ;
}