<div class="shop-container">
    <div class="shop__title">
        <h2>Renewable energy and smart home solutions</h2>
        <p>Overview of our products which can get every home started.</p>
        <button>Get started</button>
        <img src="" alt="">
    </div>
    <div class="shop__contents">
            <mat-card class="contents__item"
                    *ngFor="let shopItem of shopItem$ | async"
                    [routerLink]="['./item', shopItem.id]"
                    >
                <h3>{{ shopItem.title }}"</h3>
                <p>{{ shopItem.desc }}</p>
                <span>{{ shopItem.price }}</span>
                <img src="{{ shopItem.image }}" alt="image">
            </mat-card>
    </div>
</div>
