<section>
    <div class="tech-title-container">
        <h2>Add an item</h2>
        <p>Add any item that will be connected to the grid and monitor your consumption and effeciency from the dashboard.</p>
    </div>

    <div class="tech-form-container">
        <form #techForm="ngForm">
            <label for="title">Applience</label>
            <input required type="text" name="title" [(ngModel)]="title">
            
            <label for="consumption">Consumption</label>
            <input type="text" name="consumption" [(ngModel)]="consumption">

            <label for="limit">Specify limit</label>
            <input type="text" name="limit" [(ngModel)]="limit">

            <button class="tech-btn" type="submit" (click)="submit()">Add to Dashboard</button>
        </form>
    </div>
</section>