<div class="main">
    <div class="main__container">
        <h2>Solar energy</h2>
        <p>Track home consumption and enery use.</p>
        <button><a routerLink="/dashboard">My home</a></button>
    </div>

    <div class="main__container">
        <h2>Solar power</h2>
        <p>Get insights and optimize home energy performance.</p>
        <button><a routerLink="/about">More</a></button>
    </div>

    <div class="main__container">
        <h2>Home first</h2>
        <p>Approach that lets families and individuals manage solar energy for their homes in a method which allows exceptional use of solar energy.</p>
        <button>Get started</button>
    </div>

    <div class="main__container">
        <h2>Order Now</h2>
        <p>Get solar panels and receive assistance from our team.</p>
        <button>Contact us</button>
    </div>
</div>